<form method="POST" action="/admin/addNewWord" id="add-word-form" class="form-container">
    <h1>Expand the Wordbase!</h1>
    <div>
        <label for="word-entry">Word:</label>
        <input type="text" name="word" id="word-entry">
    </div>
    <div>
        <label for="definition-entry">Definition:</label>
        <textarea name="definition" id="definition-entry"></textarea>
    </div>
    <div>
        <label for="tags-entry">Tags: (Separate unique tags with a comma ",")</label>
        <input type="text" name="tags" id="tags-entry" placeholder="e.g., drinks, food">
    </div>
    <button type="submit">Add Word</button>
</form>
