<article id="delete-confirmation" class="word-database-container">
    <h1>Are you sure you want to delete the word <span>{{word}}</span>?</h1>

    <form action="/admin/deleteWord/{{id}}" method="POST">
        <button type="submit" class="confirm-delete">Yes</button>
    </form>

    <form action="/words/all/{{id}}" method="GET">
        <button type="submit" class="cancel-delete">No</button>
    </form>
</article>