{{#if error}}
<h1>An error occurred removing this word from the database. Sorry for the inconvenience.</h1>
{{else}}
<h1>Word Successfully Removed From Database</h1>
{{/if}}
<a href="/words/all">Back to All Words</a>