<form method="POST" action="/admin/editWord/{{id}}" id="edit-word-form" class="word-database-container">
    <h1>Edit a word in the database!</h1>
    <div>
        <label for="word-entry">Word:</label>
        <input type="text" name="word" id="word-entry" value="{{word}}">  
    </div>

    <div>
        <label for="definition-entry">Definition:</label>
        <textarea name="definition" id="definition-entry">{{definition}}</textarea>
    </div>

    <div>
        <label for="tags-entry">Tags: (Separate unique tags with a comma ",")</label>
        <input type="text" name="tags" id="tags-entry" value="{{tags}}">
    </div>

    <button type="submit">Edit Word</button>
</form>