<form method="POST" action="/admin/editWord/{{id}}" id="edit-word-form" class="form-container">
    <h1>Edit a word in the database!</h1>
    <div>
        <label for="word-entry">Word:</label>
        <input type="text" name="word" id="word-entry" value="{{word}}">
        <p class="error_text" id="error_word-entry"></p>
    </div>

    <div>
        <label for="definition-entry">Definition:</label>
        <textarea name="definition" id="definition-entry">{{definition}}</textarea>
        <p class="error_text" id="error_definition-entry"></p>
    </div>

    <div>
        <label for="tags-entry">Tags: (Separate unique tags with a comma ",")</label>
        <input type="text" name="tags" id="tags-entry" value="{{tags}}">
        <p class="error_text" id="error_tags-entry"></p>
    </div>

    <button type="submit">Edit Word</button>
</form>

<script src="../../public/js/editWordVerification.js"></script>