<article id="admins-page" class="index-container">
    <h1>Administrators</h1>
    <ul>
        {{#each users}}
        <li>
            <a href="/users/{{_id}}">{{firstName}} {{lastName}}</a>
        </li>
        {{/each}}
    </ul>
</article>