{{#if this.tags.length}}
<div class="tags">
    <h4>Tags</h4>
    <ul>
        {{#each this.tags}}
        <li class="post_list_item"><p>{{this}}</p></li>
        {{/each}}
    </ul>
    {{/if}}
</div>