<section id="word_index" class="index_container">
    <h1>All Words</h1>
    <ul>
        {{#each words}}
        <li>
            <a href="/words/all/{{this._id}}">
                <h2>{{this.word}}</h2>
                <p class="date_added">{{dateWordIndex this.date_user_received_word}}</p>
            </a>
        </li>
        {{/each}}
    </ul>
</section>