<article id="word-index" class="index-container">
    <h1>All Words</h1>
    <ul>
        {{#each words}}
        <li>
            <div class="card-top">
                <p>Added</p>
                <p>{{dateWordIndex this.dateAdded}}</p>
            </div>
            <h2>{{this.word}}</h2>
            <div class="card-bottom">
                <a href="/words/all/{{this._id}}">View</a>
            </div>
        </li>
        {{/each}}
    </ul>
</article>