<article id="my-words-page" class="index-container">
    <h1>My Words</h1>
    <ul>
        {{#each words}}
        <li {{#if this.flagged_for_deletion}}class="flagged"{{/if}}>
            <div class="card-top">
                {{#if this.flagged_for_deletion}}
                <p>FLAGGED FOR DELETION!</p>
                {{else}}
                <p>Collected:</p>
                <p>{{dateWordIndex this.date_user_received_word}}</p>
                {{/if}}
            </div>
            <h2>{{this.word}}</h2>
            <div class="card-bottom">
                <a href="/words/{{this._id}}">View</a>
            </div>
        </li>
        {{/each}}
    </ul>
</article>
