
<article class="oneOff">
    <div>
        <h1>eVOCative</h1>
    </div>
    <p>
        This is an interactive vocabulary enhacing and training application. 
        This is our final project for CS 546.
    </p>
    <a href="/" class="link_back">Click Here to Return Home</a>
</article>