<h1>eVOCative</h1>
<article>
    <header>
        <h2>This is an interactive vocabulary enhacing and training application.</h2>
    </header>
    <br>
    <p>
        This is our final project for CS 546.
    </p>
    <br>
    <a href="/">Click Here to Return Home</a>
   
</article>