{{!
This is the handlebars file for the home page of eVOCative. The page users are taken to after they sign in.
}}

<div id="banner">
  <div id="banner_content">
      <h1>Evocative</h1>
      <p>bringing strong images, memories, or feelings to mind</p>

        <div id="authentibar">
          {{#if notAuthUser}}
          <a id="register_link" href="/register">Register</a>
          <a id="login_link" href="/login">Log In</a>
          {{else}}
          <a id="logout_link" href="/logout">Log Out</a>
          {{/if}}
        </div>
  </div>
</div>

<div id="features">
  <div>
    <h2>Learn words every day</h2>
    <p> The path to better vocabulary begins here</p>
  </div>
  <div>
    <h2>Take quizzes to learn</h2>
    <p>Match words to definitions or vice versa!</p>
  </div>
</div>