{{! 
This is the handlebars file for the home page of eVOCative. The page users are taken to after they sign in.
}}

<h1> eVOCative </h1>

<p class="statement">
  Welcome to eVOCative! The path to better vocabulary begins here</p>

{{! Button for user to sign out}}

<a id="register_link" href="/register">Don't have an account? Sign up here.</a>
<a id="login_link" href="/login">Click here to log in instead</a>
<a id="logout_link" href="/logout">Log out!</a>

{{! after 'Word of the day: ' add the word of the day from the database}}
<h2> Word of the Day:</h2>

{{! Button for user to access word bank}}
<form action="/wordbank" method="GET">
  <button type="submit">Word Bank</button>
</form>