<div class="auth_container" id="signout">
    <a href="/">
        <img class="logo_home" src="../../public/images/fullTransparent1.png" alt="eVOCative Logo, link to home page">
    </a>
    <h1>You've logged out.</h1>
    <h3>See you soon!</h3>
    <a href="/login">Click here to log in</a>
</div>