{{!
Login Page for eVOCative. Will check for error with the fourm.
Client-Side java is required for the form, but submmission will take place for logging in
}}

<h1>Login</h1>

<form action="/login" method="POST" id="signin">
    {{#if errors}}
            {{#each errors}}
                <p class="error-top">{{this}}</p>
            {{/each}}
    {{/if}}

    <div class="input-container">
        <label for="username">Username:</label>
        <input name="username" id="username" type="text">
    </div>

    <div class="input-container">
        <label for="password">Password:</label>
        <input name="password" id="password" type="password">
    </div>
        
    <button type="submit">Login</button>
</form>
<a id="register_link" href="/register">Don't have an account? Sign up here.</a>