{{!
    Login Page for eVOCative. Will check for error with the fourm.
    Client-Side java is required for the form, but submmission will take place for logging in
}}

<h1>Login</h1>

<form action="login" method="POST">
    <p>Username</p>
        <input type="text" name="loginUser" id="loginUser" value={{log.loginUser}}>
    <p>Password</p>
        <input type="password" name="loginPass" id="loginPass">

    <input type="submit" id="submitButton">

    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errorList}}
            <li>
            {{this}}
            </li>
            {{/each}}
        </ul>
    {{/if}}
</form>