{{!
Login Page for eVOCative. Will check for error with the fourm.
Client-Side java is required for the form, but submmission will take place for logging in
}}



<form action="/login" method="POST" id="signin" class="auth_container">
    <a href="/">
        <img class="logo_home" src="/public/images/fullTransparent1.png" alt="eVOCative Logo, link to home page">
    </a>
    <h1>Login</h1>
    {{#if errors}}
    <div class="error_top">
        {{#each errors}}
        <h4>There was an error:</h4>
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}

    <div class="input_container">
        <label for="username">Username:</label>
        <input name="username" id="username" type="text" value="{{username}}">
        <p class="error_text" id="error_username"></p>
    </div>

    <div class="input_container">
        <label for="password">Password:</label>
        <input name="password" id="password" type="password">
        <p class="error_text" id="error_password"></p>
    </div>
        
    <button type="submit">Login</button>
    <a id="register_link" href="/register">Don't have an account? Sign up here.</a>
</form>

<script src="/public/js/authentication.js"></script>