/* resets */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fcfef1;

    font-family: Roboto, sans-serif;
    color: #292929;
}

.hidden {
    display: none;
}


/* ################### site wide ################### */


/* ################### nav bar + footer ################### */
nav, footer {
    align-items: center;
    
    padding: 1em 2em;
    background-color: #005d9e;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

/* also controls how tall the header is in general */ 
nav .logo_home {
    height: 40px;
}
  
nav li {
    margin-left: 20px;
}
  
nav li a {
    color: #fcfef1;
    text-decoration: none;
    transition: color 0.3s ease;

    font-size: 1.2em;
}
  
nav li a:hover {
    color: #a0bcd1;
}

/* footer*/
footer {
    display: block;
    justify-content: center;

    background-color: #005d9e;

    text-align: center;
    color: #fcfef1;
}

footer a {
    color: #fcfef1;
}

/* ################### body stuff ################### */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
}

/* ################### home ################### */
#banner {
    height: 40rem;
    
    /* image from: https://create.vista.com/unlimited/stock-photos/5677367/stock-photo-laptop-computer-as-a-book/ */
    background-image: url(../images/stock-photo-laptop-computer-as-a-book.jpg);
    background-size: cover;
    background-position-x: 1.1em;
    background-position-y: -5.6em;
    background-repeat: no-repeat;

    border-bottom: 8px solid #fd703c;

    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

#banner_content {
    padding-top: 10em;
    padding-left: 7em;
}

#banner_content h1 {
    text-align: left;
    font-size: 4em;

    margin-bottom: 20px;
}

#banner div p {
    font-size: 1.5em;
    color: #737373
}

#authentibar {
    margin-top: 40px;
}

#authentibar a {
    text-decoration: none;
    margin: 0px 10px; 
}

#authentibar button {
    padding: 10px 20px; 
    background-color: #fd703c; 

    font-size: 1.2em; 
    color: #fcfef1; 
    
    border-radius: 10px;  
    
    cursor: pointer; 
    transition: all 0.3s ease; 
}

#authentibar button:hover {
    background-color: #ff9e6d; 
}

#features {
    display: flex;
    justify-content: space-between;

    text-align: center;
    color: #fcfef1;

    padding: 20px;

    width: 65%;
    margin: 0px auto;
}

#features div {
    flex: 1;

    margin: 2em;
    padding: 100px 50px;
    
    background-color: #292929;
    border-radius: 10px;
}

/* ################### login/register/logout ################### */
.error_text {
    color: red;

    font-size: 0.70em;
    margin-top: 5px;
}

.auth_container {
    margin: 70px auto;
    padding: 10px 25px 20px;

    max-width: 350px;
    
    border-radius: 8px;
    border: 1px solid #292929;
} 

.logo_home {
    height: 40px;

    margin-bottom: 10px;
}

.auth_container h1 {
    margin-bottom: 20px;
}

#signout h3 {
    text-align: center;
}

form h3 {
    font-size: 1.2em;

    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid #292929;
}

#personal_info, #passwords {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.input_container {
    margin-bottom: 20px;
}

.input_container label {
    display: block;
    margin-bottom: 5px;

}

.input_container input {
    width: 100%;
    padding: 4px;
}

.auth_container button {
    width: 100%;
    padding: 8px;

    cursor: pointer;

    background-color: #fd703c;
    border-radius: 8px;

    transition: background-color 0.3s ease;

    font-weight: bold;
    color: #fcfef1;
}

.auth_container button:hover {
    background-color: #ff9e6d;
}

.auth_container a {
    display: block;
    margin-top: 20px;

    text-align: center;
    color: #5c67f2;
    text-decoration: none;
}

.auth_container a:hover {
    text-decoration: underline;
}


/* ################### profiles ################### */
.profile {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: 0px auto;
}

.profile > div {
    padding-bottom: 10px;
    border-bottom: 2px solid #292929;
}

.profile h2 {
    font-size: 25px;
    margin: 10px 0px;

    color: #fd703c;
}

/* user info */
#user-info h3 {
    margin-top: 20px;
}

#user-info h4 {
    color: #737373;
}

/* user stats */
#user-stats ul {
    list-style-type: none;
    
    display: flex;
    flex-wrap: wrap;

    gap: 20px; 
}

#user-stats li {
    flex: 1;
    min-width: 130px;
    margin-bottom: 10px; 
    padding: 15px;

    background-color: #a0bcd1;

    border-radius: 8px;
    border: 2px solid #292929;
}

/* user words */
.words-container {
    border-radius: 8px;
    border: 2px solid #292929;

    background-color: #0073a4;

    margin-bottom: 20px;
}   

#user-words ul {
    list-style-type: none;
    
    display: flex;
    flex-wrap: wrap;

    gap: 20px; 

    padding: 20px;
}

#user-words li {
    flex: 1;
    padding: 15px;

    background-color: #e6f4f1;

    border-radius: 8px;
    border: 2px solid #292929;

    transition: background-color 0.3s ease;
}

#user-words li:hover {
    background-color: #ff9e6d;
}

#user-words li a {
    text-decoration: none;
    color: #292929;
}

#no-words {
    text-align: center;
    padding: 40px;

    background-color: #e6f4f1;
}

/* ################### container generals ################### */
.date_added {
    color: #066163; 
    text-align: center;
    font-size: 0.9em;
}

.main_container {
    background: #e2e2e2; 
    width: 65%;
    margin: 20px auto 0px;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tags {
    margin: 50px 0px 20px; 
    padding: 10px; 
    background: #f2f2f2; 

    text-align: center;

    border-radius: 8px; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.tags h4 {
    color: #066163;
    margin-bottom: 10px;
}

.tags ul {
    list-style: none; 
}

.tags li {
    display: inline-block; 
    padding: 5px 15px; 
    margin: 5px; 

    background-color: #eb4d55; 
    

    color: #ffffff; 
    
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
    
    cursor: pointer; 
    transition: background-color 0.3s;
}

.tags li:hover {
    background-color: #cf424b;
}

/* ################### WORDS ################### */
/* word page */
#word_page h1 {
    font-size: 5em; 
    color: #eb4d55; 

    background: #f2f2f2; 
    padding: 20px 0px;
    margin-bottom: 50px; 

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#word_page .definition {
    text-align: center;
    font-size: 2.0em;

    margin: 0px 10px 20px;
}

/* word index */
#word_index h1 {
    background: #f2f2f2; 
    padding: 20px 0px;
    margin-bottom: 10px; 

    font-size: 2.5em;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#word_index ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;

    gap: 20px;
    padding: 20px;
    
}

#word_index li {
    background: #f2f2f2;

    width: 125px;
    padding: 8px;

    text-align: center;

    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#word_index li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#word_index a {
    text-decoration: none;
}

#word_index h2 {
    color: #eb4d55;
    font-size: 1.5em;
}

/* ################### POSTS ################### */
/* post page */
#post_page #post_info {
    font-size: 1.5em; 

    background: #f2f2f2; 
    padding: 30px 20px;
    margin-bottom: 20px; 

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#post_page h1 {
    margin-bottom: 10px;
    text-align: left;
}

#post_page p {
    font-size: 1.5em;

    margin: 0px 10px 20px;
}

#post_page address {
    color: #066163; 
    font-size: 0.6em;
}

#post_page .tags a {
    text-decoration: none;
    color: inherit;
}

/* ################### REGISTRATION ################### */
/* register page */

.error-text {
    color:red;
    margin: 10px;
}