/* 
sections to ctrl+f:

- SITE WIDE
- NAV BAR + FOOTER
- HOMEPAGE
- AUTHENTICATION
- PROFILES
- ADMIN TOOLS
- WORDS
- FORUM


TODO:
generalize, condense into sitewide
specifically:
    - forms (auth_container, addNewWord, etc.)
    - submit buttons

*/

/* ################### SITE WIDE ################### */
/* resets */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fcfef1;

    font-family: Roboto, sans-serif;
    color: #292929;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}


/* buttons */
.link_back {
    display: block;

    padding: 8px 20px;
    background-color: #fd703c;

    text-align: center;
    text-decoration: none;
    color: white;

    transition: background-color 0.2s ease;
}
.link_back:hover {
    background-color: #ff9e6d;
}

/* tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.tags li {
    background-color: #fd703c;
    color: #ffffff;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.85em;   
}



/* general containers */
.index-container {
    margin: 0px auto;

    width: 80%;
}

.index-container h1 {
    margin: 20px auto;
    padding-bottom: 20px;

    font-size: 2em;

    border-bottom: 2px solid #292929;
}


.single-container {
    margin: 25px auto;

    width: 60%;
}

/* ################### NAV BAR + FOOTER ################### */
nav,
footer {
    align-items: center;

    padding: 1em 2em;
    background-color: #005d9e;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

/* also controls how tall the header is in general */
nav .logo_home {
    height: 40px;
}

nav li {
    margin-left: 20px;
}

nav li a {
    color: #fcfef1;
    text-decoration: none;
    transition: color 0.3s ease;

    font-size: 1.2em;
}
nav li a:hover {
    color: #a0bcd1;
}

/* footer*/
footer {
    display: block;
    justify-content: center;

    background-color: #005d9e;

    text-align: center;
    color: #fcfef1;
}

footer a {
    color: #fcfef1;
}

/* ################### HOMEPAGE ################### */
#banner {
    height: 40rem;

    /* image from: https://create.vista.com/unlimited/stock-photos/5677367/stock-photo-laptop-computer-as-a-book/ */
    background-image: url(../images/stock-photo-laptop-computer-as-a-book.jpg);
    background-size: cover;
    background-position-x: 1.1em;
    background-position-y: -5.6em;
    background-repeat: no-repeat;

    border-bottom: 8px solid #fd703c;

    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

#banner_content {
    padding-top: 10em;
    padding-left: 7em;
}

#banner_content h1 {
    text-align: left;
    font-size: 4em;

    margin-bottom: 20px;
}

#banner div p {
    font-size: 1.5em;
    color: #737373
}

#authentibar {
    margin-top: 40px;
}

#authentibar a {
    text-decoration: none;
    margin: 0px 10px;

    padding: 10px 20px;
    background-color: #fd703c;

    font-size: 1.2em;
    color: #fcfef1;

    border-radius: 10px;

    cursor: pointer;
    transition: all 0.3s ease;
}
#authentibar a:hover {
    background-color: #ff9e6d;
}

#features {
    display: flex;
    justify-content: space-between;

    text-align: center;
    color: #fcfef1;

    padding: 20px;

    width: 65%;
    margin: 0px auto;
}

#features div {
    flex: 1;

    margin: 2em;
    padding: 100px 50px;

    background-color: #292929;
    border-radius: 10px;
}

/* ################### AUTHENTICATION ################### */
.error_text {
    color: red;

    font-size: 0.7em;
    margin-top: 5px;
}

.error_top {
    margin-bottom: 20px;
    padding: 10px;

    border: 1px red solid;
    border-radius: 8px;
}

.error_top p {
    color: red;
    font-size: 0.9em;
}

.auth_container {
    margin: 70px auto;
    padding: 10px 25px 20px;

    max-width: 350px;

    border-radius: 8px;
    border: 1px solid #292929;
}

.logo_home {
    height: 40px;

    margin-bottom: 10px;
}

.auth_container h1 {
    margin-bottom: 20px;
}

#signout h3 {
    text-align: center;
}

form h3 {
    font-size: 1.2em;

    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid #292929;
}

#personal_info,
#passwords {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.input_container {
    margin-bottom: 20px;
}

.input_container label {
    display: block;
    margin-bottom: 5px;

}

.input_container input {
    width: 100%;
    padding: 4px;
}

.auth_container button {
    width: 100%;
    padding: 8px;

    cursor: pointer;

    background-color: #fd703c;
    border-radius: 8px;

    transition: background-color 0.3s ease;

    font-weight: bold;
    color: #fcfef1;
}
.auth_container button:hover {
    background-color: #ff9e6d;
}

.auth_container a {
    display: block;
    margin-top: 20px;

    text-align: center;
    color: #5c67f2;
    text-decoration: none;
}
.auth_container a:hover {
    text-decoration: underline;
}

/* ################### PROFILES ################### */
.profile {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: 0px auto;
}

/* generals */
.profile>div {
    padding-bottom: 20px;
    border-bottom: 2px solid #292929;
}

.profile h2 {
    font-size: 25px;
    margin: 10px 0px;

    color: #fd703c;
}

.profile ul {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.profile li {
    flex: 1;
    padding: 15px;

    border-radius: 8px;
    border: 2px solid #292929;
}

/* user info */
#user-info h3 {
    margin-top: 20px;
}

#user-info h4 {
    color: #737373;
}

/* admin panel */
#admin-panel ul {
    justify-content: center;
}

#admin-panel li {
    background-color: #e6f4f1;

    transition: background-color 0.3s ease;
}
#admin-panel li:hover {
    background-color: #ff9e6d;
}

#admin-panel li a {
    text-decoration: none;
    text-align: center;

    color: #292929;
}

/* user stats */
#user-stats header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#user-stats li {
    min-width: 130px;

    background-color: #a0bcd1;
}

/* user words */
.words-container {
    border-radius: 8px;
    border: 2px solid #292929;

    background-color: #0073a4;
}

#user-words ul {
    padding: 20px;
}

#user-words li {
    background-color: #e6f4f1;

    transition: background-color 0.3s ease;
}
#user-words li:hover {
    background-color: #ff9e6d;
}

#user-words li a {
    text-decoration: none;
    color: #292929;
}

#no-words {
    text-align: center;
    padding: 40px;

    background-color: #e6f4f1;
}

#WOD-Announcement {
    margin-top: 20px;

    text-align: center;
    color: #fd703c;
}

/* ################### ADMIN TOOLS ################### */
/* add/edit/delete word */
.form-container {
    margin: 70px auto;
    padding: 10px 25px 20px;

    max-width: 400px;

    border-radius: 8px;
    border: 2px solid #292929;
}

.form-container h1 {
    margin: 10px 0px 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    
    color: #292929;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container textarea,
.form-container select {
    width: 94%;

    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #292929;
    border-radius: 5px;
}

.form-container textarea {
    resize: none;
}

.form-container button {
    width: 100%;
    padding: 8px;

    cursor: pointer;

    background-color: #fd703c;
    border-radius: 8px;

    transition: background-color 0.3s ease;

    font-weight: bold;
    color: #fcfef1;
}
.form-container button:hover {
    background-color: #ff9e6d;
}

#delete-confirmation span {
    color: #fd703c;
}

/* ################### WORDS ################### */
/* word page (archive and wordBank) */
#my-words-page ul,
#word-index ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#my-words-page li,
#word-index li {
    background: #ffffff;

    width: 200px;
    margin: 20px;

    border: 4px solid #005d9e;
    border-radius: 10px;

    transition: all 0.2s ease;
}
#my-words-page li:hover,
#word-index li:hover {
    transform: translateY(-5px);
    box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.5);
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    
    background-color: #005d9e;
}

.card-top p {
    font-size: 0.8em;
    color: #ffffff;
}

#my-words-page h2,
#word-index h2 {
    padding: 50px 20px;

    font-size: 1.5em;
    text-align: center;
}

.card-bottom a {
    display: block;
    
    padding: 8px 20px;
    background-color: #fd703c;

    text-align: center;
    text-decoration: none;
    color: white;

    border-radius: 0px 0px 6px 6px;
    
    transition: background-color 0.2s ease;
}
.card-bottom a:hover {
    background-color: #ff9e6d;
}

.flagged {
    border: 3px solid #fd703c !important;
}

.flagged .card-top{
    background-color: #fd703c;
}

/* single word page */
#admin-buttons {
    border: 3px dashed #005d9e;

    margin: 10px auto;
    padding: 20px;

    width: 20%;
}

#admin-buttons h2 {
    text-align: center;

    margin: 10px;
}

#admin-buttons>div {
    display: flex;
    justify-content: center;
}

#admin-buttons a {
    margin: 0px 10px;

    border-radius: 10px;
}

#word-page {
    border: 4px solid #005d9e;
    border-radius: 10px;
}

#word-page header {
    padding: 30px;
    margin: auto;

    background-color: #005d9e;

    color: #ffffff;
    text-align: center;
}

#word-page h1 {
    color: #fd703c;
    font-weight: bold;
    font-size: 5em;
}

#word-dates {
    font-size: 1.2em;
}

#word-dates span {
    font-weight: bold;
}

#word-info {
    text-align: center;

    padding: 25px;
}

#word-info p {
    font-size: 2.4em;
    margin: 10px;
}

#word-info ul {
    display: flex;
    justify-content: center;
}


#word-page a, 
#admin-buttons a {
    display: block;

    padding: 8px 20px;
    background-color: #fd703c;

    text-align: center;
    text-decoration: none;
    color: white;

    transition: background-color 0.2s ease;
}
#word-page a:hover,
#admin-buttons a:hover {
    background-color: #ff9e6d;
}



/* ################### FORUM ################### */
/* general */
.individual-post {
    background-color: #ffffff;

    border: 2px solid #005d9e;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    padding: 15px;
    margin-bottom: 20px;
}

.individual-post>div {
    border-bottom: 1px solid #005d9e;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.individual-post>div a {
    font-size: 1.5em;
    font-weight: bold;
    color: #005d9e;

    text-decoration: none;
}
.individual-post>div a:hover {
    text-decoration: underline;
}

.individual-post>div p {
    font-size: 0.9em;
    color: #292929;
    margin-top: 5px;
}

/* all posts */
#forum-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px auto;
} 

#tags-list p {
    font-weight: bold;
}

.tag-button {
    background-color: #005d9e;

    font-size: 0.85em;
    color: #ffffff;

    margin: 5px;
    padding: 5px 10px;

    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);

    cursor: pointer;
    transition: all 0.2s;
}
.tag-button.active {
    background-color: #0073a4;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.create-new {
    text-decoration: none;
    margin: 0px 10px;

    padding: 10px 20px;
    background-color: #fd703c;

    font-size: 1.2em;
    color: #fcfef1;

    border-radius: 10px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.create-new:hover {
    background-color: #ff9e6d;
}

/* single page */
.post-content {
    font-size: 1.5em;
}

#comments-list {
    display: flex;
    flex-direction: column-reverse;
}

#no-comments {
    text-align: center;

    margin: 10px;
}

#submit-comment h2 {
    text-align: center;
    margin: 10px auto;
}

/* ################### TICKETS ################### */
/* all tickets */
#new-ticket {
    display: block;
    text-align: center;

    margin-bottom: 20px;
}

#tickets-page li {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    background: #ffffff;

    padding: 30px 20px;
    margin-bottom: 10px;

    border: 2px solid #005d9e;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#tickets-page header {
    margin: 5px auto;
}

#tickets-page #ticket-type {
    color: #fd703c;
}

#tickets-page button {
    padding: 10px;

    background-color: #fd703c;

    font-size: 0.9em;
    color: #fcfef1;

    cursor: pointer;

    border-radius: 10px;
    
    transition: all 0.3s ease;
}

#tickets-page button:hover {
    background-color: #ff9e6d;
}

#tickets-page #is_resolved {
    font-weight: bold;
    color: #fd703c;
}


/* ################### QUIZZES ################### */
/* quiz index */
#quiz-index>div {
    display: flex;
    justify-content: space-between;

    gap: 20px;

    margin: 20px;

    text-align: center;
}

#quiz-index a {
    width: 100%;
    padding: 8px;

    cursor: pointer;

    background-color: #fd703c;
    border-radius: 8px;

    transition: background-color 0.3s ease;

    font-weight: bold;
    color: #fcfef1;
}
#quiz-index a:hover {
    background-color: #ff9e6d;
}

/* quiz forms */
#quizForm {
    margin: 20px auto;
    padding: 10px 25px 20px;

    background-color: #ffffff;

    max-width: 400px;

    border-radius: 8px;
    border: 2px solid #292929;
}

#quizForm h1 {
    border-bottom: 1px #292929 solid;
}

.quizValue {
    text-align: center;
    margin: 10px auto;
}

#quizForm div {
    margin-bottom: 10px;
    padding: 10px;
}

#quizForm label {
    display: block;

    padding: 10px;
    background: #eeeeee;

    border: 2px solid transparent;
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.3s ease;
}
#quizForm label:hover {
    background: #dddddd;
}

#quizForm input[type="radio"] {
    display: none;
}

#quizForm input[type="radio"]:checked + label {
    background-color: #a0bcd1;
    border: 1px solid #005d9e;
}

#quizForm input[type="submit"] {
    display: block;

    width: 100%;
    padding: 10px;
    margin-top: 20px;

    background-color: #fd703c;

    color: white;

    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    transition: all 0.3s ease;
}
#quizForm input[type="submit"]:hover {
    background-color: #ff9e6d;
}

#messageSpace {
    text-align: center;
    padding: 20px;
}

#messageSpace p {
    color: red;
    font-size: 1.2em;

    margin: 20px 0;
}

#messageSpace p#correct {
    color: green;
}

#messageSpace a {
    padding: 10px 15px;
    margin-top: 30px;

    background-color: #007bff;
    
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}
#messageSpace a:hover {
    background-color: #005d9e;
}


/* ################### MISC ################### */
 .oneOff {
    width: 40%;
    margin: 30px auto;

    border: 3px solid #005d9e;

    text-align: center;
 }

 .oneOff>div {
    margin: 15px
 }

 .oneOff h1 {
    margin: 20px auto 5px;
 }

 .oneOff p {
    margin-bottom: 20px;
 }
