<article class="oneOff">
    <div>
        <h1>{{word}} has been deleted.</h1>
        <p>You have 24 hours to recover it. After 24 hours, it will be deleted permanently.</p>
    </div>
    <a class="link_back" href="/words">See my words.</a>
</article>