<article class="oneOff">
    <div>
        <h1>Are you sure you want to delete {{word}}?</h1>
    </div>

    <form action="/users/deleteWord/{{id}}" method="POST">
        <button type="submit">Yes</button>
    </form>
    <form action="/words/all/{{id}}" method="GET">
        <button type="submit">No</button>
    </form>
</article>

