<article class="confirmation">
    <h1>{{word}} has been deleted.</h1>
    <p>You have 24 hours to recover it. After 24 hours, it will be deleted permanently.</p>
    <a class="link_back" href="/words">See my words.</a>
</article>
