<section>
    <h1>Posts</h1>
    <h2><a href="/forum/new">Make a new post</a></h2>
    <ul>
        {{#each posts}}
        <li>
            <article class="post">
                <h2><a href="/forum/{{_id}}">{{title}}</a></h2>
                {{{post}}}
            </article>  
        </li>
        {{/each}}
    </ul>
</section>