<div class="main_container add_new">
<h1>Make a Post</h1>
<br>
<form action="/forum/new" method="POST" class="new-post-form">
  <label for="title">
    Post Title <br>
    <input id="title" type="text" name="title" placeholder="Post Title" value="{{post.title}}" class="full-width-input">
  </label>
  <br>
  <p id="error_title"></p>

  <br>
  <label for="post">
    Post Body
  </label>
  <br>
  <textarea id="post" name="post" rows="4" placeholder="Post Content" class="full-width-input">{{post.body}}</textarea>
  <p id="error_post"></p>



  <br><br>
  <label for="tags" id="tags">
    Tags (separated by comma)<br><input type="text" name="tags" value="{{post.tags}}">
  </label>
  <br>
  <p id="error_tags"></p>
  <br><br>

  <button type="submit">Create New Post</button>
</form>



{{#if hasErrors}}
<ul class="error-list">
  {{#each errors}}
  <li>
    {{this}}
  </li>
  {{/each}}
</ul>
{{/if}}

</div>
<script src="../../public/js/newPostVerification.js"></script>