<h1>Make a Post</h1>
<form action="/forum/new" method="POST" class="new-post-form">
  <label for="title">
    Post Title <br>
    <input id="title" type="text" name="title" placeholder="Post Title" value="{{post.title}}" class="full-width-input">
  </label>
  <br>
  <p class="hidden" id="titleError"></p>

  <label for="post">
    Post Body
  </label>
  <br>
  <textarea id="post" name="post" rows="4" placeholder="Post Content" class="full-width-input">{{post.body}}</textarea>
  <p class="hidden" id="postError"></p>



  <br>
  <label for="tags" id="tags">
    Tags (separated by comma)<br><input type="text" name="tags" value="{{post.tags}}">
  </label>
  <br>
  <p class="hidden" id="tagsError"></p>

  <button type="submit">Create New Post</button>
  <button type="reset">Clear Form</button>
  {{!-- <input type="hidden" name='_method' value="PUT" /> --}}
</form>



{{#if hasErrors}}
<ul class="error-list">
  {{#each errors}}
  <li>
    {{this}}
  </li>
  {{/each}}
</ul>
{{/if}}

</article>
<script src="/public/js/newPostVerification.js"></script>