<form action="/forum/new" method="POST" id="new-post-form" class="form-container">
  <h1>Make a Post</h1>
  {{#if error}}
  <div class="error_top">
    <h4>There was an error:</h4>
    {{#each error}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}


  <div class="input_container">
    <label for="postTitle">Post Title</label>
    <input id="postTitle" type="text" name="title" placeholder="Post Title" value="{{post.title}}">
    <p class="error_text" id="error_postTitle"></p>
  </div>

  <div class="input_container">
    <label for="postContent">Post Body</label>
    <input id="postContent" name="post" rows="4" placeholder="Post Content">{{post.body}}</textarea>
    <p class="error_text" id="error_postContent"></p>
  </div>

  <div class="input_container">
    <label for="postTags">Tags (separated by comma)</label>
    <input id="postTags" type="text" name="tags" value="{{post.tags}}">
    <p class="error_text" id="error_postTags"></p>
  </div>

  <button type="submit">Create New Post</button>
</form>
