<h1>What game do you want to play today?</h1>
<ul>
    <li><a href="/quiz/wordToDefinition">Match a word to its definition</a></li>
    <li><a href="/quiz/definitionToWord">Match a definition to its word</a></li>
</ul>