
<article id="quiz-index" class="index-container">
    <h1>What game do you want to play today?</h1>
    <div>
        <a href="/quiz/wordToDefinition">Match a word to its definition</a>
        <a href="/quiz/definitionToWord">Match a definition to its word</a>
    </div>

</article>
