<h1>What game do you want to play today?</h1>
<div id="quiz-list" class="quiz-list">
    <div class="entry-quiz"><a href="/quiz/wordToDefinition" class="quiz-link">Match a word to its definition</a></div>
    <div class="entry-quiz"><a href="/quiz/definitionToWord" class="quiz-link">Match a definition to its word</a></div>
</div>